body {
    background: rgb(174, 238, 228);
    background: radial-gradient(circle, rgba(174, 238, 228, 1) 0%, rgba(148, 233, 169, 1) 100%);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
}




input[type="text"] {
    margin-bottom: 10px;
}

input[type="submit"].btn-primary {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"].btn-danger {

    background-color: #f54831;
}



footer {
    text-align: center;
    margin-top: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: yellow;
    font-weight: bold;
}
